<div class="w-full h-fit">
  <div
    [ngClass]="{
      '!grid-cols-1': files.length == 1,
      '!grid-cols-2': files.length == 2,
      '!grid-cols-3': files.length > 10
    }"
    class="w-full h-full overflow-auto grid items-stretch grid-cols-2 rounded-lg"
  >
    @for (item of files; track $index) { @if(isImage(item.type)) {
    <img *ngIf="isImage(item.type)" [src]="item.url" class="object-cover" />
    }@else if (isImage(item.type)) {
    <video *ngIf="isVideo(item.type)" controls class="object-cover">
      <source [src]="item.url" [type]="item.type" />
    </video>
    }@else if (isImage(item.type)) {
    <audio *ngIf="isAudio(item.type)">
      <source [src]="item.url" [type]="item.type" />
    </audio>
    }@else if (isImage(item.type)) {
    <p *ngIf="!isMedia(item.type)">{{ item.name }}</p>
    }}
  </div>
</div>
