<div class="w-full h-fit">
  <div
    [ngClass]="{
      '!grid-cols-1': files.length == 1,
      '!grid-cols-2': files.length == 2,
      '!grid-cols-3': files.length > 10
    }"
    class="w-full h-full overflow-auto grid items-stretch grid-cols-2 rounded-lg"
  >
    @for (item of files; track $index) { @if(isImage(item.fileType)) {
    <img
      *ngIf="isImage(item.fileType)"
      [src]="item.fileUrl"
      class="object-cover"
    />
    }@else if (isVideo(item.fileType)) {
    <video *ngIf="isVideo(item.fileType)" controls class="object-cover">
      <source [src]="item.fileUrl"  />
    </video>
    }@else if (isAudio(item.fileType)) {
    <audio *ngIf="isAudio(item.fileType)">
      <source [src]="item.fileUrl" [type]="item.fileType" />
    </audio>
    }@else if (isMedia(item.fileType)) {
    <p *ngIf="!isMedia(item.fileType)">{{ item.fileName }}</p>
    }}
  </div>
</div>
