<div
  class="w-full h-[calc(100%-76px)] bg-linear-to-tr from-white via-gray-300  to-gray-100 to-85%"
>
  <p style="font-family: snapp1" class="text-center py-2 text-gray-600 pt-10">
    <span
      class="text-xl drop-shadow-md mx-2 pt-5 text-blue-500 transition-all duration-700 group-hover:pr-8"
    >
      <i class="fa-solid fa-unlock-keyhole"></i>
    </span>
    ورود به سامانه
  </p>
  <!-- <button
  routerLink="/integration"
  type="button"
  class="rounded-full w-full cursor-pointer mt-8 bg-blue-500 text-white p-2"
>
  ییییییییییییییییییییییییی
</button> -->
  <div
    style="font-family: snapp1 !important; font-size: small"
    class="w-full h-fit max-w-[300px] m-auto flex flex-col bg-white rounded-xl backdrop-blur-xl text-white gap-2 relative"
  >
    <!-- <div
    class="w-full h-fit flex flex-col text-white gap-2 z-0 blur-xs absolute top-0 left-0 right-0 bottom-0 bg-amber-100"
  ></div> -->
    <!-- bg-linear-to-t from-[rgb(255,255,255,0)] to -->
    <div
      class="w-full h-fit flex flex-col pt-8 shadow-2xl shadow-animate text-slate-900 p-5 rounded-lg"
    >
      <form
        (submit)="saveForm()"
        [formGroup]="myForm"
        class="w-full h-fit flex flex-col pt-3"
      >
        <mat-form-field appearance="outline" class="rounded-lg!">
          <mat-label>نام کاربری</mat-label>
          <input
            formControlName="username"
            required
            #username
            matInput
            placeholder="نام کاربری"
            class="!rounded-lg"
          />

          @if (!myForm.value.username && myForm.controls.username.touched) {
          <mat-hint class="text-red-600 mb-1 text-xs"
            >نام کاربری باید وارد شود</mat-hint
          >
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="rounded-lg">
          <mat-label>کلمه عبور</mat-label>
          <input
            formControlName="password"
            required
            #password
            matInput
            [type]="!showPass ? 'password' : 'text'"
            placeholder="کلمه عبور"
            class="rounded-lg"
          />
          <div matSuffix class="px-1" (click)="showPass = !showPass">
            <i
              [ngClass]="{ 'fa-eye-slash': showPass, 'fa-eye': !showPass }"
              class="fa text-gray-600 text-lg pl-2"
            ></i>
          </div>
          @if (!myForm.value.password && myForm.controls.password.touched) {
          <mat-hint class="text-red-600 mb-1 text-xs"
            >کلمه عبور باید وارد شود</mat-hint
          >
          }
        </mat-form-field>
        <mat-checkbox
          class="text-xs text-blue-500"
          formControlName="rememberMe"
        >
          <span class="text-gray-400"> مرا به خاطر بسپار! </span>
        </mat-checkbox>

        <!-- [ngClass]="{ '!bg-blue-200 !text-gray-400': myForm.invalid }" -->

        <button
          type="submit"
          class="rounded-full w-full cursor-pointer mt-8 bg-blue-500 text-white p-2"
        >
          ورود
        </button>

        <div class="w-full h-fit flex items-center pt-3 gap-2 text-white">
          <span class="text-gray-300 text-xs"
            >رمز عبور خود را فراموش کرده اید؟</span
          >
          <span class="text-blue-500 text-md cursor-pointer">ارسال رمز</span>
        </div>
      </form>
    </div>
  </div>

  <!-- <div
  class="w-full px-[3vw] lg:px-[7vw] xl:px-[10vw] h-full flex justify-center bg-white items-center p-3"
>
  <div
    class="w-full h-full flex justify-center rounded-xl shadow-lg bg-gradient-to-tr from-sky-700 to-slate-400 items-center p-3"
  >
    <div class="p-5 pb-10 flex h-full w-96">
      <div class="w-full h-full flex flex-col justify-center">
        <img
          class="w-20 h-20 self-center rounded-full shadow-xl bg-gradient-to-tr from-sky-700 to-slate-400"
          src="./img/customer.jpg"
          alt=""
        />
        <p class="text-center mt-4 text-2xl">
          بروز ترین سامانه خبری مجمع نمایندگان طلاب حوزه علمیه قم
        </p>
        <p class="text-justify text-xs mt-12">
          باید در حوزه کسانی باشند که وقایع و رخداد ها را کامل ثبت کنند تا خبرها
          به صورت شفاف و کامل به دست آیندگان برسد
        </p>
        <p class="text-left text-xs">مقام معظم رهبری</p>
      </div>
    </div>
    <div
      class="p-5 flex items-center justify-center rounded-2xl grow w-full h-full bg-amber-50"
    >
      <mat-tab-group
      dir="rtl"
        class="w-full overflow-hidden"
        LessTabHeader
        [selectedIndex]="tabIndex"
      >
        <mat-tab class="w-full">
          <div class="w-full h-full flex justify-center items-center overflow-hidden">
            <div class="w-full sm:w-[360px] h-full flex flex-col gap-2">
              <div class="w-full flex justify-center items-start relative">
                <div
                  class="absolute top-0 left-0 rounded-full px-4 py-4 transition-all hover:bg-slate-500 flex justify-center items-center"
                >
                  <i class="fa fa-thin text-xs fa-arrow-left"></i>
                </div>
                <div
                  class="flex justify-center justify-self-center self-center items-center mt-2 text-lg"
                >
                  ورود به حساب کاربری
                </div>
              </div>
              <div class="w-full flex justify-center items-start mt-10 mb-5">
                <div
                  class="flex text-5xl justify-center items-center overflow-hidden py-10 w-32 h-32 rounded-full shadow-2xl bg-gradient-to-tr from-sky-700 to-slate-400"
                >
                  <svg
                    class="mt-8"
                    height="110"
                    width="100"
                    viewBox="0 0 448 512"
                  >
                    <path
                      fill="#ededed"
                      d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"
                    />
                  </svg>
                </div>

              </div>
              <div class="w-full flex flex-col">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>نام کاربری</mat-label>
                  <input type="email" matInput placeholder="نام کاربری" />
                </mat-form-field>
              </div>
              <div class="w-full flex flex-col">
                <mat-form-field appearance="outline">
                  <mat-label>کلمه عبور</mat-label>
                  <input
                    name="password"
                    formControlName="password"
                    matInput
                    [type]="passwordVisible ? 'text' : 'password'"
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="toggleVisible()"
                    [attr.aria-label]="'مخفی کردن کلمه عبور'"
                    [attr.aria-pressed]="!passwordVisible"
                  >
                    <mat-icon class="text-white text-sm">{{
                      passwordVisible ? "visibility" : "visibility_off"
                    }}</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <button
                mat-fab
                extended
                class="bg-gradient-to-tr from-sky-700 to-slate-400"
              >
                <mat-icon>login</mat-icon>
                ورود به سامانه
              </button>
              <div
                (click)="tabIndex = 1"
                class="cursor-pointer ms-4 mt-8 text-xs text-blue-400"
              >
                رمز عبور خود را فراموش کرده ام.
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab class="w-full">
          <div class="w-full h-full flex justify-center items-center overflow-hidden">
            <div class="w-[360px] h-full flex flex-col gap-2">
              <div class="w-full flex justify-center items-start relative">
                <div
                  class="absolute top-0 left-0 rounded-full px-4 py-4 transition-all hover:bg-slate-500 flex justify-center items-center"
                >
                  <i class="fa fa-thin text-xs fa-arrow-left"></i>
                </div>
                <div
                  class="flex justify-center justify-self-center self-center items-center mt-2 text-lg"
                >
                  ورود به حساب کاربری
                </div>
              </div>
              <div class="w-full flex justify-center items-start mt-10 mb-5">
                <div
                  class="flex text-5xl justify-center items-center overflow-hidden py-10 w-32 h-32 rounded-full shadow-2xl bg-gradient-to-tr from-sky-700 to-slate-400"
                >
                  <svg
                    class="mt-8"
                    height="110"
                    width="100"
                    viewBox="0 0 448 512"
                  >
                    <path
                      fill="#ededed"
                      d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"
                    />
                  </svg>
                </div>

              </div>
              <div class="w-full flex flex-col">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>نام کاربری</mat-label>
                  <input type="email" matInput placeholder="نام کاربری" />
                </mat-form-field>
              </div>
              <div class="w-full flex flex-col">
                <mat-form-field appearance="outline">
                  <mat-label>کلمه عبور</mat-label>
                  <input
                    name="password"
                    formControlName="password"
                    matInput
                    [type]="passwordVisible ? 'text' : 'password'"
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="toggleVisible()"
                    [attr.aria-label]="'مخفی کردن کلمه عبور'"
                    [attr.aria-pressed]="!passwordVisible"
                  >
                    <mat-icon class="text-white text-sm">{{
                      passwordVisible ? "visibility" : "visibility_off"
                    }}</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <button
                mat-fab
                extended
                class="bg-gradient-to-tr from-sky-700 to-slate-400"
              >
                <mat-icon>login</mat-icon>
                ورود به سامانه
              </button>
              <div
                (click)="tabIndex = 1"
                class="cursor-pointer ms-4 mt-8 text-xs text-blue-400"
              >
                رمز عبور خود را فراموش کرده ام.
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

</div> -->
</div>
