<div
  class="md:invisible md:w-0 md:h-0 w-fit h-fit flex fixed  bottom-4 left-3 right-3 m-auto justify-between items-center shadow-md rounded-full bg-gradient-to-tr from-white via-gray-50 to-white  bgs-[rgb(255,255,255,0.94)]"
>
  <div
    class="w-full flex justify-evenly items-center text-slate-400 font-normal px-3"
  >
    <div
      class="pt-3 w-fit h-fit px-1 rounded relative flex justify-center object-cover"
    >
      <div
        (click)="goTo(['/', ''])"
        [ngClass]="{ 'text-happyGreen': selectedItem === '/'+'' }"
        class="flex flex-col cursor-pointer gap-[2px] text-xl px-2 justify-between items-center"
      >
        <span
          [ngClass]="{ 'ease-custom': selectedItem === '/'+'' }"
          class="ease-custom"
        >
          <i class="fa fa-house"></i>
        </span>

        <span
          [ngClass]="{ 'bg-happyGreen': selectedItem === '/'+'' }"
          class="w-full h-[4px] rounded-t-[25px] rounded-b-none"
        ></span>
      </div>
    </div>
    <div
      class="pt-3 w-fit h-fit px-1 rounded relative flex justify-center object-cover"
    >
      <div
        (click)="goTo(['/', 'commissions'])"
        [ngClass]="{ 'text-happyGreen': selectedItem === '/'+'commissions' }"
        class="flex flex-col cursor-pointer gap-[2px] text-xl px-2 justify-between items-center"
      >
        <span
          [ngClass]="{ 'ease-custom': selectedItem === '/'+'commissions' }"
          class="ease-custom"
        >
          <i class="fa fa-network-wired"></i>
        </span>
        <span
          [ngClass]="{ 'bg-happyGreen': selectedItem === '/'+'commissions' }"
          class="w-full h-[4px] rounded-t-[25px] rounded-b-none"
        ></span>
      </div>
    </div>
    <div class="w-20"></div>
    <div
      class="w-fit h-fit px-1 rounded absolute -top-[6px] left-0 right-0 m-auto flex justify-center object-cover"
    >
      <div
              (click)="goTo(['/', 'gallery'])"

        class="w-15 aspect-square flex bg-happyGreen text-white rounded-full justify-center items-center cursor-pointer shadow-md text-sm "
      >
          <i class="fa fa-photo-film text-lg"></i>

        <!-- <i class="fa-regular fa-plus"></i> -->
      </div>
    </div>
<div
      class="pt-3 w-fit h-fit px-1 rounded relative flex justify-center object-cover"
    >
      <div
        (click)="goTo(['/', 'jalasat'])"
        [ngClass]="{ 'text-happyGreen': selectedItem === '/'+'jalasat' }"
        class="flex flex-col cursor-pointer gap-[2px] text-xl px-2 justify-between items-center"
      >
        <span
          [ngClass]="{ 'ease-custom': selectedItem === '/'+'jalasat' }"
          class="ease-custom"
        >
          <i class="fa fa-chair"></i>
        </span>
        <span
          [ngClass]="{ 'bg-happyGreen': selectedItem === '/'+'jalasat' }"
          class="w-full h-[4px] rounded-t-[25px] rounded-b-none"
        ></span>
      </div>
    </div>
    <div
      class="pt-3 w-fit h-fit px-1 rounded relative flex justify-center object-cover"
    >
      <div
        (click)="goTo(['/', 'saved'])"
        [ngClass]="{ 'text-happyGreen': selectedItem === '/'+'saved' }"
        class="flex flex-col cursor-pointer gap-[2px] text-xl px-2 justify-between items-center"
      >
        <span
          [ngClass]="{ 'ease-custom': selectedItem === '/'+'saved' }"
          class="ease-custom"
        >
          <i class="fa fa-bookmark"></i>
        </span>
        <span
          [ngClass]="{ 'bg-happyGreen': selectedItem === '/'+'saved' }"
          class="w-full h-[4px] rounded-t-[25px] rounded-b-none"
        ></span>
      </div>
    </div>

  </div>
</div>
