<div
  class="w-full h-fit flex justify-between items-center shadow-md rounded-full  bg-[rgb(245,245,245,0.94)]"
>
  <div
    class="w-full flex justify-evenly items-center text-slate-300 font-normal px-2"
  >
    <div
      class="pt-3 w-fit h-fit px-1 rounded relative flex justify-center object-cover"
    >
      <div
        (click)="goTo(['/', ''])"
        [ngClass]="{ 'text-happyGreen': selectedItem === '/'+'' }"
        class="flex flex-col cursor-pointer gap-[2px] text-xl px-2 justify-between items-center"
      >
        <span
          [ngClass]="{ 'ease-custom': selectedItem === '/'+'' }"
          class="ease-custom"
        >
          <i class="fa fa-house"></i>
        </span>

        <span
          [ngClass]="{ 'bg-happyGreen': selectedItem === '/'+'' }"
          class="w-full h-[4px] rounded-t-[25px] rounded-b-none"
        ></span>
      </div>
    </div>
    <div
      class="pt-3 w-fit h-fit px-1 rounded relative flex justify-center object-cover"
    >
      <div
        (click)="goTo(['/', 'provinces'])"
        [ngClass]="{ 'text-happyGreen': selectedItem === '/'+'provinces' }"
        class="flex flex-col cursor-pointer gap-[2px] text-xl px-2 justify-between items-center"
      >
        <span
          [ngClass]="{ 'ease-custom': selectedItem === '/'+'provinces' }"
          class="ease-custom"
        >
          <i class="fa fa-map"></i>
        </span>
        <span
          [ngClass]="{ 'bg-happyGreen': selectedItem === '/'+'provinces' }"
          class="w-full h-[4px] rounded-t-[25px] rounded-b-none"
        ></span>
      </div>
    </div>
    <div
      class="w-fit h-fit px-1 rounded relative flex justify-center object-cover"
    >
      <div
      (click)="goTo(['/', 'messenger'])"

        class="flex bg-happyGreen text-white rounded-full justify-center items-center cursor-pointer shadow text-sm p-3"
      >
        <i class="fa-regular fa-plus"></i>
      </div>
    </div>

    <div
      class="pt-3 w-fit h-fit px-1 rounded relative flex justify-center object-cover"
    >
      <div
        (click)="goTo(['/', 'saved'])"
        [ngClass]="{ 'text-happyGreen': selectedItem === '/'+'saved' }"
        class="flex flex-col cursor-pointer gap-[2px] text-xl px-2 justify-between items-center"
      >
        <span
          [ngClass]="{ 'ease-custom': selectedItem === '/'+'saved' }"
          class="ease-custom"
        >
          <i class="fa fa-bookmark"></i>
        </span>
        <span
          [ngClass]="{ 'bg-happyGreen': selectedItem === '/'+'saved' }"
          class="w-full h-[4px] rounded-t-[25px] rounded-b-none"
        ></span>
      </div>
    </div>
    <div
      class="pt-3 w-fit h-fit px-1 rounded relative flex justify-center object-cover"
    >
      <div
        (click)="goTo(['/', 'gallery'])"
        [ngClass]="{ 'text-happyGreen': selectedItem === '/'+'gallery' }"
        class="flex flex-col cursor-pointer gap-[2px] text-xl px-2 justify-between items-center"
      >
        <span
          [ngClass]="{ 'ease-custom': selectedItem === '/'+'gallery' }"
          class="ease-custom"
        >
          <i class="fa fa-photo-film"></i>
        </span>
        <span
          [ngClass]="{ 'bg-happyGreen': selectedItem === '/'+'gallery' }"
          class="w-full h-[4px] rounded-t-[25px] rounded-b-none"
        ></span>
      </div>
    </div>
  </div>
</div>
