<div
  class="w-full h-fit flex justify-between items-center shadow-md rounded-full bg-gray-100"
>
  <div
    class="w-full flex justify-evenly items-center text-slate-300 font-normal px-2"
  >
    <div
      class="pt-3 w-fit h-fit px-1 rounded relative flex justify-center object-cover"
    >
      <div
        (click)="selectedItem = 'home'"
        [ngClass]="{ 'text-happyGreen': selectedItem === 'home' }"
        class="flex flex-col cursor-pointer gap-[2px] text-xl px-2 justify-between items-center"
      >
        <span
          [ngClass]="{ 'ease-custom': selectedItem === 'home' }"
          class="ease-custom"
        >
          <i class="fa fa-house"></i>
        </span>

        <span
          [ngClass]="{ 'bg-happyGreen': selectedItem === 'home' }"
          class="w-full h-[4px] rounded-t-[25px] rounded-b-none"
        ></span>
      </div>
    </div>
    <div
      class="pt-3 w-fit h-fit px-1 rounded relative flex justify-center object-cover"
    >
      <div
        (click)="selectedItem = 'myProvience'"
        [ngClass]="{ 'text-happyGreen': selectedItem === 'myProvience' }"
        class="flex flex-col cursor-pointer gap-[2px] text-xl px-2 justify-between items-center"
      >
        <span
          [ngClass]="{ 'ease-custom': selectedItem === 'myProvience' }"
          class="ease-custom"
        >
          <i class="fa fa-street-view"></i>
        </span>
        <span
          [ngClass]="{ 'bg-happyGreen': selectedItem === 'myProvience' }"
          class="w-full h-[4px] rounded-t-[25px] rounded-b-none"
        ></span>
      </div>
    </div>
    <div
      class="w-fit h-fit px-1 rounded relative flex justify-center object-cover"
    >
      <div
        class="flex bg-happyGreen text-white rounded-full justify-center items-center cursor-pointer shadow text-sm p-3"
      >
        <i class="fa-regular fa-plus"></i>
      </div>
    </div>

    <div
      class="pt-3 w-fit h-fit px-1 rounded relative flex justify-center object-cover"
    >
      <div
        (click)="selectedItem = 'saved'"
        [ngClass]="{ 'text-happyGreen': selectedItem === 'saved' }"
        class="flex flex-col cursor-pointer gap-[2px] text-xl px-2 justify-between items-center"
      >
        <span
          [ngClass]="{ 'ease-custom': selectedItem === 'saved' }"
          class="ease-custom"
        >
          <i class="fa fa-bookmark"></i>
        </span>
        <span
          [ngClass]="{ 'bg-happyGreen': selectedItem === 'saved' }"
          class="w-full h-[4px] rounded-t-[25px] rounded-b-none"
        ></span>
      </div>
    </div>
    <div
      class="pt-3 w-fit h-fit px-1 rounded relative flex justify-center object-cover"
    >
      <div
        (click)="selectedItem = 'gallery'"
        [ngClass]="{ 'text-happyGreen': selectedItem === 'gallery' }"
        class="flex flex-col cursor-pointer gap-[2px] text-xl px-2 justify-between items-center"
      >
        <span
          [ngClass]="{ 'ease-custom': selectedItem === 'gallery' }"
          class="ease-custom"
        >
          <i class="fa-regular fa-images"></i>
        </span>
        <span
          [ngClass]="{ 'bg-happyGreen': selectedItem === 'gallery' }"
          class="w-full h-[4px] rounded-t-[25px] rounded-b-none"
        ></span>
      </div>
    </div>
    <!-- <div
      class="w-fit h-fit px-1 rounded relative flex justify-center object-cover"
    >
      <div
        (click)="selectedItem = 'maraje'"
        [ngClass]="{ 'text-happyGreen': selectedItem === 'maraje' }"
        class="flex flex-col cursor-pointer gap-[2px] text-xl px-2 justify-between items-center"
      >
        <span
          [ngClass]="{ 'ease-custom': selectedItem === 'maraje' }"
          class="ease-custom"
        >
          <i class="fa-solid fa-book-open-reader"></i>
        </span>
        <span
          [ngClass]="{ 'bg-happyGreen': selectedItem === 'maraje' }"
          class="w-full h-[4px] rounded-t-[25px] rounded-b-none"
        ></span>
      </div>
    </div> -->
  </div>
</div>
