<div class="w-full h-fit flex flex-col gap-1">
  <div class="text-base font-bold flex gap-2 text-blue-800 p-5 pb-2">
    <i class="bi bi-journal-plus text-[30px]"></i>
    <span class="flex items-center">تغییر کلمه عبور</span>
  </div>
  <mat-divider></mat-divider>
  <form [formGroup]="myForm" (submit)="save()">
    <mat-dialog-content>
      <div class="w-full grid grid-cols-1 sm:gap-x-2">
        <mat-form-field appearance="outline" class="rounded-lg">
          <mat-label>رمز فعلی</mat-label>
          <input
            formControlName="password"
            required
            #password
            matInput
            [type]="!showPass ? 'password' : 'text'"
            placeholder="رمز فعلی"
            class="rounded-lg"
          />
          <div matSuffix class="px-1" (click)="showPass = !showPass">
            <i
              [ngClass]="{ 'fa-eye-slash': showPass, 'fa-eye': !showPass }"
              class="fa text-gray-600 text-lg pl-2"
            ></i>
          </div>
          @if (!myForm.value.password && myForm.controls.password.touched) {
          <mat-hint class="text-red-600 mb-1 text-xs"
            >رمز عبور باید حداقل 6 حرف باشد</mat-hint
          >
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="rounded-lg">
          <mat-label>رمز جدید</mat-label>
          <input
            formControlName="newPassword"
            required
            #newPassword
            matInput
            [type]="!showNewPass ? 'password' : 'text'"
            placeholder="رمز جدید"
            class="rounded-lg"
          />
          <div matSuffix class="px-1" (click)="showNewPass = !showNewPass">
            <i
              [ngClass]="{
                'fa-eye-slash': showNewPass,
                'fa-eye': !showNewPass
              }"
              class="fa text-gray-600 text-lg pl-2"
            ></i>
          </div>
          @if (!myForm.value.newPassword && myForm.controls.newPassword.touched)
          {
          <mat-hint class="text-red-600 mb-1 text-xs"
            >رمز عبور باید حداقل 6 حرف باشد</mat-hint
          >
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="rounded-lg">
          <mat-label>تکرار رمز جدید</mat-label>
          <input
            formControlName="confirmNewPassword"
            required
            #newPassword
            matInput
            [type]="!showConfirmNewPass ? 'password' : 'text'"
            placeholder="تکرار رمز جدید"
            class="rounded-lg"
          />
          <div
            matSuffix
            class="px-1"
            (click)="showConfirmNewPass = !showConfirmNewPass"
          >
            <i
              [ngClass]="{
                'fa-eye-slash': showConfirmNewPass,
                'fa-eye': !showConfirmNewPass
              }"
              class="fa text-gray-600 text-lg pl-2"
            ></i>
          </div>
          @if (!myForm.value.confirmNewPassword &&
          myForm.controls.confirmNewPassword.touched) {
          <mat-hint class="text-red-600 mb-1 text-xs"
            >رمز عبور باید حداقل 6 حرف باشد</mat-hint
          >
          }
        </mat-form-field>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <div class="w-full h-fit p-1 flex justify-end gap-3 p-5 pt-0">
        <button type="button" mat-raised-button (click)="close()">
          انصراف
        </button>
        <button
          type="submit"
          mat-raised-button
          [disabled]="myForm.invalid"
          [ngClass]="{ '!bg-blue-500 !text-white': !myForm.invalid }"
        >
          ذخیره
        </button>
      </div>
    </mat-dialog-actions>
  </form>
</div>

@if (isLoading) {
<app-loader class="z-[999999] fixed inset-0 top-0 left-0"></app-loader>
}
