<div class="w-fulsl h-fit py-1">
  @if (isBrowser) {
  <swiper-container
    [autoplay]="{
      'delay': 3000,
      'disableOnInteraction': false,
      'pauseOnMouseEnter': true
    }"
    [slidesPerView]="1"
    [pagination]="{ clickable: true }"
    [navigation]="true"
    [loop]="true"
    class="w-fsull lg:h-[35vw] h-fit shadow-lg overflow-hidden rounded-3xl"
  >
    @for (item of items; track $index) {
    <swiper-slide
      (click)="goToNews(item)"
      class="w-full h-auto relative flex justify-center object-cover rounded-lg overflow-hidden bg-gradient-to-tr from-purple-200 to-purple-300"
    >
       <img
    loading="lazy"
 class="w-full h-full z-0 object-cover" [src]="item.img" alt="" />
      <div
        class="w-full h-full p-2 flex flex-col justify-end absolute pb-2 bottom-0 z-20 right-0 shadow-[inset_0_-3px_70px_rgba(0,0,0,0.9)]"
      >
        <button class="w-fit h-fit bg-happyGreen p-2 text-white text-xs">
          مشاهده خبر
        </button>
        <h2
          class="w-full h-fit text-justify ellipsis-text-two-lines font-bold p-2 pb-0 text-white text-sm rounded-md"
        >
          {{ item.title }}
        </h2>
        <h3
          class="invisible w-0 h-0 sm:visible sm:w-full sm:h-fit text-justify ellipsis-text-two-lines p-2 pb-0 text-white text-xs rounded-md"
        >
          {{ item.description }}
        </h3>
        <div class="w-full h-fit p-2 flex justify-between items-center">
          <p class="font-light gap-1 flex text-slate-300 text-xs">
            <i class="fa-regular fa-clock text-slate-300"></i>
            <span>{{ item.studyTime }} </span> <span> دقیقه </span>
          </p>
          <p class="font-light text-slate-300 text-xs">
            {{ item.publishedDate | TimeAgo }}
          </p>
        </div>
      </div>
    </swiper-slide>
    }
  </swiper-container>
  }
</div>
