<div class="w-full h-fit p-1 px-2">
  <div class="w-full h-fit">
    <swiper-container
      class="border-t border-t-2 border-b-slate-200 border-t-slate-200 border-b border-b-2 pt-3 text-gray-400 !text-sm font-normal"
      slides-per-view="auto"
      mousewheel="true"
    >
      <swiper-slide
        class="w-fit h-fit px-1 rounded relative flex justify-center object-cover"
      >
        <div
          (click)="selectedItem = 'home'"
          [ngClass]="{ 'text-blue-600': selectedItem === 'home' }"
          class="flex flex-col cursor-pointer gap-[6px] text-xs px-2 justify-between items-center"
        >
          <span
            [ngClass]="{ 'ease-custom': selectedItem === 'home' }"
            class="ease-custom"
            >
            <i class="fa fa-house"></i>
            خانه
            </span
          >
          @if (selectedItem==='home') {
          <span
            class="w-full h-[4px] rounded-t-[25px] rounded-b-none bg-blue-400"
          ></span>
          }
        </div>
      </swiper-slide>
      <swiper-slide
        class="w-fit h-fit px-1 rounded relative flex justify-center object-cover"
      >
        <div
          (click)="selectedItem = 'majma'"
          [ngClass]="{ 'text-blue-600': selectedItem === 'majma' }"
          class="flex flex-col cursor-pointer gap-[6px] text-xs px-2 justify-between items-center"
        >
          <span
            [ngClass]="{ 'ease-custom': selectedItem === 'majma' }"
            class="ease-custom"
            >مجمع</span
          >
          @if (selectedItem==='majma') {
          <span
            class="w-full h-[4px] rounded-t-[25px] rounded-b-none bg-blue-400"
          ></span>
          }
        </div>
      </swiper-slide>
      <swiper-slide
      class="w-fit h-fit px-1 rounded relative flex justify-center object-cover"
    >
      <div
        (click)="selectedItem = 'proviences'"
        [ngClass]="{ 'text-blue-600': selectedItem === 'proviences' }"
        class="flex flex-col cursor-pointer gap-[6px] text-xs px-2 justify-between items-center"
      >
        <span
          [ngClass]="{ 'ease-custom': selectedItem === 'proviences' }"
          class="ease-custom"
          >استان ها</span
        >
        @if (selectedItem==='proviences') {
        <span
          class="w-full h-[4px] rounded-t-[25px] rounded-b-none bg-blue-400"
        ></span>
        }
      </div>
    </swiper-slide>
    <swiper-slide
    class="w-fit h-fit px-1 rounded relative flex justify-center object-cover"
  >
    <div
      (click)="selectedItem = 'units'"
      [ngClass]="{ 'text-blue-600': selectedItem === 'units' }"
      class="flex flex-col cursor-pointer gap-[6px] text-xs px-2 justify-between items-center"
    >
      <span
        [ngClass]="{ 'ease-custom': selectedItem === 'units' }"
        class="ease-custom"
        >واحدها</span
      >
      @if (selectedItem==='units') {
      <span
        class="w-full h-[4px] rounded-t-[25px] rounded-b-none bg-blue-400"
      ></span>
      }
    </div>
  </swiper-slide>
  <swiper-slide
  class="w-fit h-fit px-1 rounded relative flex justify-center object-cover"
>
  <div
    (click)="selectedItem = 'disscution'"
    [ngClass]="{ 'text-blue-600': selectedItem === 'disscution' }"
    class="flex flex-col cursor-pointer gap-[6px] text-xs px-2 justify-between items-center"
  >
    <span
      [ngClass]="{ 'ease-custom': selectedItem === 'disscution' }"
      class="ease-custom"
      >مصاحبه ها</span
    >
    @if (selectedItem==='disscution') {
    <span
      class="w-full h-[4px] rounded-t-[25px] rounded-b-none bg-blue-400"
    ></span>
    }
  </div>
</swiper-slide>
<swiper-slide
class="w-fit h-fit px-1 rounded relative flex justify-center object-cover"
>
<div
  (click)="selectedItem = 'maraje'"
  [ngClass]="{ 'text-blue-600': selectedItem === 'maraje' }"
  class="flex flex-col cursor-pointer gap-[6px] text-xs px-2 justify-between items-center"
>
  <span
    [ngClass]="{ 'ease-custom': selectedItem === 'maraje' }"
    class="ease-custom"
    >مراجع و علما</span
  >
  @if (selectedItem==='maraje') {
  <span
    class="w-full h-[4px] rounded-t-[25px] rounded-b-none bg-blue-400"
  ></span>
  }
</div>
</swiper-slide>
      
    </swiper-container>
  </div>
</div>
