<div class="w-full h-fit p-2 flex flex-col items-center">
  <div
    class="w-full py-3 self-start flex justify-between border-b border-b-gray-200 items-center gap-2 text-base text-gray-600"
  >
    <h1>نقش ها</h1>
    <button
      (click)="addRole()"
      title="افزودن نقش"
      class="!text-blue-50 bg-gradient-to-r bg-[rgb(25,160,250)] to-[rgb(205,200,20f0)] rounded-lg p-2 cursor-pointer flex items-center gap-2 transition-all"
    >
      <i class="fa-solid text-sm sm:text-lg fa-plus"></i>
      <span class="text-xs sm:text-xs">نقش جدید</span>
    </button>
  </div>

  <div class="w-full h-fit flex flex-col">
    @for (item of users; track $index) {
    <div
      class="w-full h-fit px-2 py-1 grid grid-cols-4 items-center justify-between gap-2 border-b border-b-gray-200"
    >
      <div class="flex flex-col md:flex-row items-center gap-2">
        <button
          title="نقش"
          class="!text-indigo-500 bg-indigo-50 rounded-lg p-3 cursor-pointer flex items-center gap-2 transition-all"
        >
          <i class="fa-solid text-lg sm:text-lg fa-user-tie"></i>
        </button>
        <div class="w-fit h-fit p-2 flex flex-col gap-2">
          <span class="text-gray-800 text-sm">{{ item.name }} </span>
        </div>
      </div>
      <div class="w-fit h-fit p-2 flex flex-col gap-2">
        <!-- <div class="w-full h-fit pt-2 flex flex-col gap-2">
          @for (role of item.roles; track $index) {

          <span
            class="w-full h-fit p-2 py-1 rounded-lg text-center border border-green-300 bg-green-100 text-[10px] text-green-600"
            >{{ role.name }}</span
          >
          }
        </div> -->
      </div>
      <!-- @if (item.isActive) {
      <div class="flex m-auto items-center gap-2">
        <button
          title="وضعیت کاربر"
          class="!text-indigo-500 m-auto bg-indigo-50 rounded-lg p-3 cursor-pointer flex justify-center items-center gap-2 transition-all"
        >
          <i class="fa-solid text-lg sm:text-lg fa-lock-open"></i>
        </button>
        <span class="text-xs"> فعال </span>
      </div>
      } @else {
      <div class="flex m-auto items-center gap-2">
        <button
          title="وضعیت کاربر"
          class="!text-red-500 m-auto bg-red-50 rounded-lg p-3 cursor-pointer flex justify-center items-center gap-2 transition-all"
        >
          <i class="fa-solid text-lg sm:text-lg fa-lock"></i>
        </button>
        <span class="text-xs"> غیرفعال </span>
      </div>

      } -->

      <div class="flex flex-col md:flex-row items-center justify-end gap-2">
        <div
          (click)="editRole(item)"
          class="flex items-center cursor-pointer gap-1 text-blue-500 bg-blue-100 p-2 rounded-md"
        >
          <i class="fa fa-pencil"></i>
        </div>
        <!-- <div
          class="flex items-center cursor-pointer gap-1 text-green-600 bg-green-100 p-2 rounded-md"
        >
          <i class="fa-regular fa-eye"></i>
        </div> -->

        <div
          (click)="delete(item.id!)"
          class="flex items-center cursor-pointer gap-1 text-red-600 bg-red-100 p-2 rounded-md"
        >
          <i class="fa fa-trash"></i>
        </div>
      </div>
    </div>
    }
  </div>
</div>
