<!-- 
<div 
 [attr.id]="newsCategory?.slug"
class="w-full h-fit p-2 flex flex-col">
  show result style
  <div
    class="w-full h-fit py-1 px-2 text-xl flex justify-end items-center gap-1"
  >
    <button
      (click)="horizontal_Result = !horizontal_Result"
      [ngClass]="{ 'bg-gray-400': horizontal_Result }"
      class="text-slate-300 rounded p-1 flex transition-all items-center justify-center"
    >
      <i
        [ngClass]="{ ' text-white': horizontal_Result }"
        class="fa-solid flex items-center justify-center fa-server"
      ></i>
    </button>
    <button
      (click)="horizontal_Result = !horizontal_Result"
      [ngClass]="{ 'bg-gray-400': !horizontal_Result }"
      class="text-slate-300 rounded p-1 flex transition-all items-center justify-center"
    >
      <i
        [ngClass]="{ 'text-white': !horizontal_Result }"
        class="fa-solid flex items-center justify-center fa-table-cells-large"
      ></i>
    </button>
  </div>
  [ngClass]="{ 'text-white': $index % 2 === 1 }"
  <div
    (click)="goToSubnewsPage()"
    class="w-full h-fit pb-4 py-7 sm:py-9 lg:py-11 px-4 flex justify-between items-center text-slate-600"
  >
    <a [routerLink]="['.','heyat-raeesah']">
    <h3 class="text-sm flex items-center gap-1">
      <i class="fa-solid fa-users-rectangle text-xl"></i>
      {{ newsCategory!.title! ? newsCategory!.title! : "" }}
    </h3>
    </a
    >
    @if (showAll) {
    <h1 cl class="text-xs" [routerLink]="['.', routeSlug]">
      همه موارد
      <i class="fa fa-chevron-left"></i>
    </h1>
    }
  </div>
  <div
    class="w-full h-fit p-2 grid grid-cols-1 sm:grid-cols-2 gap-2 md:grid-cols-3 justify-center items-start"
  >
    @if (items && items.length>0) { @for (item of items; track $index) { @if
    (horizontal_Result) {
    <app-news-card1 [item]="item"></app-news-card1>
    } @else {
    <app-news-card2 [item]="item"></app-news-card2>
    } } } @if(isLoading) {
    skeletons
    @for (item of [1,2,3]; track $index) { @if (horizontal_Result) {
    <app-skeleton-card1></app-skeleton-card1>
    } @else {
    <app-skeleton-card2></app-skeleton-card2>

    } } }
  </div>
  @if (hasMore) {
  <div
    class="w-fit h-fit m-auto my-10 cursor-pointer flex text-gray-600 p-1 px-2 justify-between rounded-full items-center text-xs border border-gray-300"
  >
    <h1
      class="rounded-full transition-all duration-300 gap-2 py-1 px-2 flex justify-center items-center rounded-full  text-gray-400 text-xs"
      (click)="fetchNews()"
    >
      مشاهده بیشتر
      <i class="fa fa-chevron-down"></i>
    </h1>
  </div>
  }
</div> -->

<!-- [ngClass]="{ 'text-white': $index % 2 === 1 }" -->
<div
  class="w-full h-fit pb-4 py-7 px-4 flex justify-between items-center text-slate-600"
>
  <!-- <a [routerLink]="['.', 'heyat-raeesah']"> -->
  <h3 (click)="goToSubnewsPage()" class="text-sm flex items-center gap-1">
    <i class="fa-solid fa-users-rectangle text-xl"></i>
    {{ newsCategory?.name }}
  </h3>
  <!-- </a> -->
  <!-- @if (showAll) { -->
  <!-- [routerLink]="['.', routeSlug]" -->
  <h1 cl class="text-xs">
    همه موارد
    <i class="fa fa-chevron-left"></i>
  </h1>
  <!-- } -->
</div>
@if (items && items.length>0) {
<div class="w-full h-fit p-1 px-2">
  <div class="w-full h-fit">
    <!-- free-Mode="true" -->
    <swiper-container
      class="pt-1 text-gray-400 !text-sm font-normal"
      navigation="true"
      autoplay="true"
      slides-per-view="auto"
      [breakpoints]="breakPoints"
      [ngClass]="customStyles"
    >
      @for (item of items; track $index) {
      <swiper-slide
        class="w-fit h-fit pt-2 px-1 mb-3 rounded relative flex justify-center object-cover"
      >
        <div
          class="flex flex-col cursor-pointer gap-[6px] text-xs px-2 justify-between items-center"
        >
          <app-news-card3
            [newsCategory]="newsCategory"
            [item]="item"
          ></app-news-card3>
          @if(isLoading) { skeletons @for (item of [1,2,3]; track $index) {
          <app-skeleton-card2></app-skeleton-card2>
          }}
          <!-- @if (horizontal_Result) {
          <app-news-card1 [item]="item"></app-news-card1>
          } @else {
          <app-news-card2 [item]="item"></app-news-card2>
          }   @if(isLoading) { skeletons @for (item of [1,2,3]; track $index)
          { @if (!horizontal_Result) {
          <app-skeleton-card1></app-skeleton-card1>
          } @else {
          <app-skeleton-card2></app-skeleton-card2>

          } } } -->
        </div> </swiper-slide
      >}
    </swiper-container>
  </div>
</div>
}
