<!-- <div class="w-full h-fit flex flex-col gap-2">
  <div class="w-full h-fit flex justify-between items-center bg-stone-200">
    <p
      class="text-slate-600 text-[11px] pr-2 text-justify elipsis-text-two-lines"
    >
      امام خمینی (ره): بسیج لشکر مخلص خداست.
    </p>
    <div class="w-16 h-14">
      <img src="./img/rahbar2.jpg" alt="" />
    </div>
  </div>
  <div class="w-full h-fit flex justify-between">
    <div class="w-full h-fit flex flex-col gap-2">
      <app-story class="w-full"></app-story>
      <app-header-banner-swiper
        [items]="bannerItems"
      ></app-header-banner-swiper>
    </div>
    <div class="w-full h-fit flex flex-col gap-2">
      <div class="m-auto my-3 w-full h-[0.5px] bg-slate-300"></div>
      <div class="w-full h-fit flex flex-col lg:flex-row gap-3">
        <div
          class="w-full h-fit flex flex-col lg:flex-row gap-3 lg:gap-7 xl:gap-10 2xl:gap-12"
        >
         </div>
        left side news
        <div class="w-full max-w-[400px] h-fit flex flex-col gap-4">
          <app-iran-daily-news></app-iran-daily-news>
          <app-links></app-links>
        </div>
      </div>
      <app-shadow-slider class="w-full"></app-shadow-slider>

    </div>
  </div>
</div> -->

<div class="w-full h-fit flex flex-col bg-white gap-2">
  <!-- rahbari words -->
  <!-- <div class="w-full h-fit flex justify-between items-center bg-stone-200">
    <p
      class="text-slate-600 text-[11px] pr-2 text-justify elipsis-text-two-lines"
    >
      امام خمینی (ره): بسیج لشکر مخلص خداست.
    </p>
    <div class="w-16 h-14">
      <img src="./img/rahbar2.jpg" alt="" />
    </div>
  </div> -->
  <!-- [src]="'./test/nature.png'" -->
  <img
    [src]="homeTopImage?.fileUrl"
    class="w-0 lg:w-full h-0 lg:h-fit invisible lg:visible object-cover bg-white shadow-md"
    alt=""
  />
  <img
    [src]="homeTopImageMobile?.fileUrl"
    class="lg:w-0 w-full lg:h-0 h-fit lg:invisible visible object-cover bg-white shadow-md"
    alt=""
  />
  <div class="max-w-screen h-fit flex justify-between gap-2">
    <!-- content -->
    <div
      class="w-full overflow-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-8 gap-3"
    >
      <!-- <app-iran-daily-news></app-iran-daily-news> -->
      <div
        class="w-full h-fit px-[3vw] sm:px-[4vw] md:px-[6vw] lg:px-[7vw] col-span-1 sm:col-span-2 md:col-span-3 lg:col-span-8 bg-white shadow-lg p-1 rounded-xl"
      >
        <app-story class="w-full overflow-auto"></app-story>
      </div>
      <div
        class="w-full h-fit py-6 px-[3vw] sm:px-[4vw] md:px-[6vw] lg:px-[7vw] grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-8 gap-3 col-span-1 sm:col-span-2 md:col-span-3 lg:col-span-8"
      >
        <app-header-banner-swiper
          [newsCategory]="
            newsCategories['interviews'].children!['mosahebeHeyatRaeeseh']
          "
          class="w-full col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-5"
        ></app-header-banner-swiper>
        <app-news-container
          class="lg:pr-4 col-span-1 sm:col-span-1 md:col-span-1 lg:col-span-3"
          [customStyles]="'!grid-cols-1'"
          [noHeading]="true"
          [noMoreButton]="true"
          [bigItems]="false"
          [noTitle]="true"
          [itemsCount]="5"
          [take]="2"
          [newsCategory]="
            newsCategories['notgh'].children!['notghPishAsDastoorMajmaOmoomi']
          "
        >
          <!-- newsCategories['interviews'].children!['mosahehebeNamayandeShahrha'] -->
        </app-news-container>
        <app-news-item-slider
          [breakPoints]="{
            '0': { slidesPerView: 1 },
            '640': { slidesPerView: 1 },
            '768': { slidesPerView: 3 },
            '1024': { slidesPerView: 4 }
          }"
          [noBackground]="false"
          [newsCategory]="
            newsCategories['notgh'].children!['notghHeyatRaeeseh']
          "
          class="!col-span-1 sm:col-span-1 md:!col-span-3 lg:!col-span-8"
        ></app-news-item-slider>
        <!-- <a
          class="w-full h-fit my-1 col-span-1 sm:col-span-2 md:col-span-3 lg:col-span-2 bg-white shadow-md"
          target="_blank"
          [href]="firstAd!.link.length > 0 ? firstAd!.link : ''"
        >
          <img
            [src]="firstAd?.fileUrl"
            class="w-full h-fit object-cover"
            alt=""
          />
        </a>
        <a
          class="w-full h-fit my-1 col-span-1 sm:col-span-2 md:col-span-3 lg:col-span-2 bg-white shadow-md"
          target="_blank"
          [href]="secondAd!.link.length > 0 ? secondAd!.link : ''"
        >
          <img
            [src]="secondAd?.fileUrl"
            class="w-full h-fit object-cover"
            alt=""
        /></a> -->
        <app-news-item-slider
          [noBackground]="false"
          class="col-span-1 sm:col-span-2 md:col-span-3 lg:col-span-8"
          [breakPoints]=" {
          '0': { slidesPerView: 1 } ,
          '640': { slidesPerView: 3 } ,
          '768': { slidesPerView: 3 } ,
        '1024': { slidesPerView: 4 } ,
          }"
          [newsCategory]="
            newsCategories['goftogoo'].children!['goftogooMajmaOmoomi']
          "
        ></app-news-item-slider>
      </div>

      <app-news-item-slider
        class="col-span-1 px-[3vw] sm:px-[4vw] md:px-[6vw] lg:px-[7vw] sm:col-span-2 md:col-span-3 lg:col-span-8 bgf-[rgb(20,20,20,0.5)]"
        [breakPoints]=" {
          '0': { slidesPerView: 1 } ,
          '640': { slidesPerView: 2 } ,
          '768': { slidesPerView: 3 } ,
        '1024': { slidesPerView: 3 } ,
          }"
        [newsCategory]="
          newsCategories['interviews'].children!['mosahebeHeyatRaeeseh']
        "
      ></app-news-item-slider>
      <div
        class="w-full h-fit px-[3vw] sm:px-[4vw] md:px-[6vw] lg:px-[7vw] col-span-1 sm:col-span-2 md:col-span-3 lg:col-span-8 items-stretch grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-4 bg-limse-500 p-7"
      >
        <app-links
          class="w-full h-full col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-1"
        ></app-links>
        <app-news-container
          class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2"
          [customStyles]="'!grid-cols-1 sm:!grid-cols-2 md:!grid-cols-2'"
          [noHeading]="true"
          [noMoreButton]="true"
          [noTitle]="true"
          [bigItems]="false"
          [itemsCount]="10"
          [take]="15"
          [newsCategory]="
            newsCategories['interviews'].children!['mosahebeHeyatRaeeseh']
          "
        >
        </app-news-container>
      </div>
      <app-news-item-slider
        [noBackground]="false"
        class="col-span-1 sm:col-span-2 md:col-span-3 lg:col-span-8 px-[3vw] sm:px-[4vw] md:px-[6vw] lg:px-[7vw]"
        [breakPoints]=" {
          '0': { slidesPerView: 1 } ,
          '640': { slidesPerView: 3 } ,
      '1024': { slidesPerView: 4 } ,
        }"
        [newsCategory]="
          newsCategories['interviews'].children!['mosahebeHeyatRaeeseh']
        "
      ></app-news-item-slider>

      <!-- <app-news-container [newsCategory]="newsCategories.interviewsNamayandeCity">
      </app-news-container>
      <app-news-item-slider
        [newsCategory]="newsCategories.interviewsHeyatRaeeseh"
      ></app-news-item-slider>
      <app-news-container [newsCategory]="newsCategories.interviewsNamayandeCity">
      </app-news-container>
      <app-news-item-slider
        [newsCategory]="newsCategories.interviewsHeyatRaeeseh"
      ></app-news-item-slider> -->

      <!--
        -->
    </div>
    <!-- <div class="w-full max-w-[300px] h-fit grow shrink-0 flex flex-col gap-4">
      <app-link-line class="w-full h-fit"></app-link-line>
      <app-iran-daily-news></app-iran-daily-news>
    </div> -->
  </div>
  <app-link-line
    class="px-[3vw] pb-5 sm:px-[7vw] md:px-[9vw] lg:px-[11vw]"
  ></app-link-line>
  <app-footer class="w-full h-fit"></app-footer>
</div>

@if (showStory!=null) {
<app-story-viewer class="fixed z-80 top-0 left-0"></app-story-viewer>
} @if (isLoading) {
<app-loader
  [text]="'لطفاً شکیبا باشید...'"
  class="z-[9999] fixed inset-0 top-0 left-0"
></app-loader>
}
