.custom-top-shadow{
    box-shadow: 32px 200px 64px -147px rgba(0,0,0,0.6) inset;
}
.custom-bottom-shadow{
    box-shadow: -3px -200px 50px -165px rgba(0,0,0,10) inset;
}

.message-box{
    background: #3333337d;
}
