.custom-top-shadow{
    box-shadow: 32px 200px 64px -147px rgba(0,0,0,0.6) inset;
}
.custom-bottom-shadow{
    box-shadow: -3px -200px 50px -165px rgba(0,0,0,10) inset;
}

.message-box{
    background: #3333337d;
}








.video-container {
  position: relative;
}

.custom-timeline {
  position: absolute;
  bottom: 10px; /* فاصله از پایین ویدیو */
  left: 50%;
  transform: translateX(-50%);
  width: 90%; /* عرض نوار زمان */
  height: 5px;
  background-color: rgb(0, 255, 0);
  cursor: pointer;
  border-radius: 5px;
}

.timeline-progress {
  height: 100%;
  background-color: #00000099;
  border-radius: 5px;
  transition: width 0.1s ease-in-out; /* برای انیمیشن آرام‌تر */
}
