<div
  (click)="hideStory()"
  class="w-screen h-screen relative flex justify-center items-center bg-[rgb(0,0,0,0.86)]"
>
  <button
    (click)="hideStory()"
    class="!w-9 !h-9 absolute cursor-pointer top-5 text-white left-5 flex justify-center items-center p-3 rounded-full message-box"
  >
    <i class="fa-solid fa-close"></i>
  </button>
  <div
    (click)="$event.stopPropagation()"
    class="w-full max-w-[490px] relative h-full relative bg-[rgb(0,0,0)]"
  >
    <!-- header -->
    <button
      (click)="hideStory()"
      class="!w-9 !h-9 absolute cursor-pointer top-0 z-60 text-white left-0 flex justify-center items-center p-3 rounded-full message-box"
    >
      <i class="fa-solid fa-close"></i>
    </button>
    <div
      class="w-full h-fit max-w-[490px] p-6 pt-9 z-20 custom-top-shadow fixed flex flex-col gap-3"
    >
      <div class="w-full h-fit flex gap-2 items-center">
        @for (item of item?.medias; track $index) {
        <!-- mode="indeterminate" -->
        <mat-progress-bar
          class="w-full"
          value="100"
          mode="determinate"
        ></mat-progress-bar>
        <!-- [value]="getProgressValue$(item.id) | async" -->
        }
      </div>
      <div class="w-full h-fit flex items-center gap-4">
        <!-- <div
          class="!w-[60px] !h-[60px] flex justify-center items-center bg-gradient-to-br from-pink-400 via-indigo-300 to-green-300 rounded-full"
        > -->
        @if (item!.medias.length > 0) {
        <div
          class="!w-[60px] !h-[60px] aspect-square outline outline-[3px] outline-white rounded-full"
        >
          @if (isImage(item!.medias![0].fileType)) {
          <img
            class="w-full h-full rounded-full overflow-hidden object-"
            [src]="item!.medias![0].fileUrl"
            alt=""
          />} @if (isVideo(item!.medias![0].fileType)) {
          <video
            class="w-[60px] h-[60px] rounded-[100px] aspect-square overflow-hidden object-cover"
            alt=""
          >
            <source [src]="item!.medias![0].fileUrl" />
          </video>
          }
        </div>
        }
        <!-- </div> -->
        <div class="w-full h-fit flex flex-col gap-1">
          <p class="text-sm elipsis-text-two-lines">
            {{ item?.title }}
          </p>
          <p class="text-xs text-gray-200 font-light">
            {{ item?.publishedDate?.toString()! | TimeAgo }}
          </p>
        </div>
      </div>
    </div>
    <swiper-container
      autoplay="true"
      [attr.navigation]="true"
      [attr.pause-on-mouse-enter]="true"
      [attr.autoplay-delay]="5000"
      class="w-full h-full flex justify-center items-center"
      (slidechange)="onSlideChange($event)"
    >
      @for (item of item?.medias; track $index) {
      <swiper-slide class="w-full h-full flex items-center">
        @if (isImage(item.fileType)) {
         <img
    loading="lazy"
 class="w-full h-fit object-cover" [src]="item.fileUrl" alt="" />}
        @if (isVideo(item.fileType)) {
        <video
          class="w-full h-fit object-contain"
          alt=""
          [autoplay]="true"
          [controls]="false"
        >
          <source [src]="item.fileUrl" />
        </video>
        }
      </swiper-slide>
      }
    </swiper-container>

    <!-- description section -->
    <!-- <div
      class="w-full h-fit max-w-[490px] flex items-center p-6 px-3 z-30 custom-bottom-shadow bottom-0 fixed flex flex-col gap-1"
    ></div> -->

    <!-- buttons section -->
    <div
      class="w-full h-fit max-w-[490px] p-6 px-3 z-20 custom-bottom-shadow bottom-0 fixed flex items-end gap-1"
    >
      <p class="text-sm p-2 font-xs drop-shadow-md text-bottom text-justify">
        {{ item?.description }}
      </p>
      <div class="w-fit self-end h-fit flex flex-col justify-between gap-1">
        <button
          class="flex justify-center items-center p-4 text-md rounded-full message-box"
        >
          @if (2+3===5) {
          <i class="fa-regular fa-heart"></i>
          }@else {
          <i class="fa-solid fa-heart"></i>
          }
        </button>
        <button
          class="flex justify-center items-center p-4 text-md rounded-full message-box"
        >
          @if (2+3===5) {
          <i class="fa-regular fa-thumbs-up"></i>
          }@else {
          <i class="fa-solid fa-thumbs-up"></i>
          }
        </button>
        <button
          class="flex justify-center items-center p-4 text-md rounded-full message-box"
        >
          @if (2+3===5) {
          <i class="fa-regular fa-thumbs-down"></i>
          }@else {
          <i class="fa-solid fa-thumbs-down"></i>
          }
        </button>
      </div>

      <!-- message Input box with button  -->
      <!-- <div class="w-full h-fit flex justify-between gap-1 items-center">
        <textarea
          class="w-full resize-none flex no-scrollbar overflow-hidden items-center pt-3 pr-5 rounded-full outline-none leading-3 text-xs text-wrap message-box"
          type="text"
          placeholder="پیام خود را وارد کنید"
        ></textarea>
        <button
          class="flex justify-center items-center p-3 rounded-full message-box"
        >
          <i class="fa-regular fa-paper-plane text-[14px]"></i>
        </button>
      </div> -->
    </div>
  </div>
</div>
