<div class="w-full h-fit p-2 pb-11 flex justify-center ">
  <div class="w-full max-w-[350px] h-fit relative flex justify-center">
    <div
      class="w-full skeleton aspect-video flip-scale-up-hor object-cover rounded-t-2xl shadow-md rounded-b-3xl"
    ></div>

    <div
      class="w-[90%] h-fit transition-all p-3 shadow-md z-20 bg-gray-100 rounded-2xl absolute -bottom-10 left-0 right-0 m-auto"
    >
      <div
        class="w-full h-fit transition-all flex flex-col justify-between gap-2"
      >
        <h1
          class="text-sm skeleton py-2 rounded-2xl font-bold text-gray-600 ellipsis-text-two-lines"
        ></h1>
        <span></span>
        <div class="w-full flex mt-2 justify-between items-center gap-2">
          <span class="skeleton py-2 px-4 rounded-2xl"></span>
          <div
            class="flex skeleton py-2 px-4 rounded-2xl items-center gap-1"
          ></div>
          <span class="skeleton py-2 px-4 rounded-2xl"></span>
          <span class="skeleton py-2 px-4 rounded-2xl"></span>
          <!-- <span class="skeleton py-2 px-4 rounded-2xl"> </span> -->
        </div>
      </div>
    </div>
  </div>
</div>
