<div class="w-full flex flex-col h-fit px-2">
  <h3 class="text-lg flex text-gray-800 items-center gap-1">
    {{ "استوری های اخیر" }}
  </h3>
  <swiper-container class="w-full" slides-per-view="auto">
    <swiper-slide
      class="w-24 py-3  px-[3px] h-fit flex justify-center items-center gap-1 flex-col"
    >
      <div
        [routerLink]="['.', 'save']"
        class="w-[70px] h-[70px] cursor-pointer flex justify-center items-center bg-gradient-to-br from-pink-400 via-indigo-300 to-green-300 rounded-full"
      >
        <div
          class="w-[60px] h-[60px] flex justify-center items-center outline outline-[3px] outline-white bg-whitfe rounded-full object-cover"
        >
          <i class="fa fa-plus text-white drop-shadow-lg"></i>
        </div>
      </div>
      <span
        class="text-center text-[13px] text-slate-700 ellipsis-text-two-lines"
      >
        {{ "استوری جدید" }}</span
      >
    </swiper-slide>
    @for (item of stories; track $index) {
    <swiper-slide
      class="w-24 py-3 cursor-pointer px-[3px] h-fit flex justify-center items-center gap-1 flex-col"
    >
      <div
        (click)="goToEditPage(item)"
        class="w-[70px] h-[70px] cursor-pointer flex justify-center items-center bg-gradient-to-br from-pink-400 via-indigo-300 to-green-300 rounded-full"
      >
        @if (item.medias.length > 0) { @if (isImage(item.medias![0].fileType)) {
        <img
          class="w-[60px] h-[60px] outline outline-[3px] outline-white rounded-full object-cover"
          [src]="item.medias![0].fileUrl"
          alt=""
        />} @if (isVideo(item.medias![0].fileType)) {
        <video
          class="w-[60px] h-[60px] outline outline-[3px] outline-white rounded-full object-cover"
          alt=""
        >
          <source [src]="item.medias![0].fileUrl" />
        </video>
        }}
      </div>
      <span
        class="text-center text-[10px] text-slate-700 ellipsis-text-two-lines"
      >
        {{ item.title }}</span
      >
    </swiper-slide>
    }
  </swiper-container>
</div>
