<div #top [attr.id]="newsCategory?.slug" class="w-full h-fit flex flex-col">
  <!-- show result style -->
  @if (!noTitle) {
  <div
    [ngClass]="{
      '!py-0 sm:!py-0 lg:!py-0 !pb-3 sm:!pb-5 lg:!pb-6': thinTitle,
      'pb-4 py-7 sm:py-9 lg:py-11': !thinTitle
    }"
    class="w-full h-fit flex justify-between items-center text-gray-900"
  >
    <h3
      (click)="goToSubnewsPage()"
      class="text-md sm:text-lg cursor-pointer flex items-center gap-1"
    >
      {{ newsCategory!.name! }}
    </h3>
    <!-- </a
    > -->
    <div
      class="w-fit h-fit flex justify-end items-center gap-1"
    >
      @if (!noHeading) {
      <div
        class="w-fit h-fit py-1 px-2 text-xl flex justify-end items-center gap-1"
      >
        <button
          (click)="horizontal_Result = !horizontal_Result"
          [ngClass]="{ 'bg-gray-400': !horizontal_Result }"
          class="text-slate-300 rounded p-1 flex transition-all items-center justify-center"
        >
          <i
            [ngClass]="{ ' text-white': !horizontal_Result }"
            class="fa-solid flex items-center justify-center fa-bars-progress"
          ></i>
        </button>
        <button
          (click)="horizontal_Result = !horizontal_Result"
          [ngClass]="{ 'bg-gray-400': horizontal_Result }"
          class="text-slate-300 rounded p-1 flex transition-all items-center justify-center"
        >
          <i
            [ngClass]="{ 'text-white': horizontal_Result }"
            class="fa-solid flex items-center justify-center fa-image"
          ></i>
        </button>
      </div>
      } @if (showAll) {
      <h1
        class="cursor-pointer text-red-600 flex gap-2 items-center text-xs"
        (click)="goToSubnewsPage()"
      >
        همه موارد
        <i class="fa fa-arrow-left"></i>
      </h1>
      }
    </div>
  </div>
  }
  <div
    [ngClass]="[
      customStyles.length == 0
        ? ' grid-cols-1 sm:grid-cols-2 lg:grid-cols-3'
        : customStyles,
      showBigListCard ? '!grid-cols-1' : '',
      'w-full h-fit grid gap-2 justify-center items-start'
    ]"
  >
    @if (items && items.length > 0) { @for (item of items; track $index) { @if
    (showBigListCard) {
    <app-news-list-card
      [item]="item"
      [newsCategory]="newsCategory"
    ></app-news-list-card>
    } @else if (horizontal_Result) {
    <app-news-card1
      [item]="item"
      [newsCategory]="newsCategory"
    ></app-news-card1>
    } @else {
    <app-news-card2
      [item]="item"
      [newsCategory]="newsCategory"
    ></app-news-card2>
    } } } @else if (enteredItems && enteredItems.length > 0) { @for (item of
    enteredItems; track $index) { @if (showBigListCard) {
    <app-news-list-card
      [item]="item"
      [newsCategory]="newsCategory"
    ></app-news-list-card>
    } @else if (horizontal_Result) {
    <app-news-card1
      [item]="item"
      [newsCategory]="newsCategory"
    ></app-news-card1>
    } @else {
    <app-news-card2
      [item]="item"
      [newsCategory]="newsCategory"
    ></app-news-card2>
    } } } @if (isLoading) { @for (item of [1,2,3]; track $index) { @if
    (showBigListCard) {
    <app-skeleton-card2></app-skeleton-card2>
    <!-- فرض کردم اسکلتی که در big list میاد skeleton-card2 هست -->
    } @else if (horizontal_Result) {
    <app-skeleton-card1></app-skeleton-card1>
    } @else {
    <app-skeleton-card2></app-skeleton-card2>
    } } }
    <!-- @if (items.length==0 && !isLoading) {<app-empty
      class="w-full col-span-1 sm:col-span-2 lg:col-span-3"
    ></app-empty>
    } -->
  </div>
  @if (hasMore && !noMoreButton) {
  <div
    class="w-fit h-fit m-auto my-10 cursor-pointer flex text-gray-600 p-1 px-2 justify-between rounded-full items-center text-xs border border-gray-300"
  >
    <h1
      class="rounded-full transition-all duration-300 gap-2 py-1 px-2 flex justify-center items-center rounded-full text-gray-400 text-xs"
      (click)="fetchNews()"
    >
      مشاهده بیشتر
      <i class="fa fa-chevron-down"></i>
    </h1>
  </div>
  }
</div>
