<mat-sidenav-container class="w-full h-full flex flex-grow relative">
  <mat-sidenav
    class="max-w-[260px] h-full"
    #drawerElement
    mode="over"
    [position]="'start'"
  >
    <app-side-menu></app-side-menu>
  </mat-sidenav>

  <div class="w-full h-full flex flex-grow">
    <!-- <div class="w-fit h-full flex flex-col bg-gray-400 p-1">
      <app-sidebar></app-sidebar>
    </div> -->

    <!-- این div به اندازه ارتفاع باقی‌مانده (بدون هدر) رشد می‌کند -->
    <div class="w-full h-[calc(100vh-75px)] flex-grow bg-gray-100 text-white overflow-auto">
      <app-nav-headers class="shadow-md !z-20"></app-nav-headers>
      <router-outlet class="w-full h-fit flex-grojw z-0 overflow-hidden"> </router-outlet>

      <!-- <app-footer class="h-fit"></app-footer> -->
    </div>
    <app-mobile-nav-pannel
      class="w-[90%] h-fit z-20 absolute bottom-4 left-0 right-0 m-auto"
    ></app-mobile-nav-pannel>
  </div>
</mat-sidenav-container>
