<div
  class="w-full h-fit flex py-1 flex-col transition-all duration-300 gap-1 "
>
  <div class="w-full h-fit flex gap-2  items-center">
    <div class="w-full max-w-36 relative">
      <!-- [src]="item.img" -->
      <div
        class="w-full p-3 skeleton aspect-video rounded-lg object-cover shadow flip-scale-up-hor"
      ></div>
      <div
        class="w-fit h-fit cursor-pointer drop-shadow-md px-1 z-20 text-white text-l absolute top-2 left-1"
      ></div>
    </div>
    <div class="w-full flex flex-col gap-1 justify-between">
      <h1
        class="w-full skeleton rounded-2xl py-2 px-4 text-gray-500 text-xs ellipsis-text-two-lines"
      ></h1>
      <div
        class="w-full flex flex-col text-[11px] justify-between gap-1 text-neutral-400"
      >
        <span class="skeleton rounded-2xl py-2 px-4"></span>

        <div class="w-full flex items-center gap-4">
          <!-- seen count-->
          <div class="flex items-center gap-1">
             <span class="skeleton rounded-2xl py-2 px-4"> </span>
          </div>

          <!-- seen count-->
          <div class="flex items-center gap-1">
             <span class="skeleton rounded-2xl py-2 px-4"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="skeleton py-3  w-full h-fit  flex text-gray-600 mt-2 p-1 px-2 justify-between rounded-full items-center"
  >
   </div>
</div>
