 
<div class="w-full h-fit p-1 px-2">
  <div class="w-full h-fit">
    <!-- class="border-t border-t-2 border-b-slate-200 border-t-slate-200 border-b border-b-2 pt-3 text-gray-400 !text-sm font-normal" -->
    <swiper-container free-Mode="true" slides-per-view="auto">
      @for (item of navs; track $index) {
      <swiper-slide
        class="w-fit h-fit px-1 py-1 rounded relative flex justify-center object-cover"
      >
        <div
          (click)="scrollTo(item.name); selectedItem = item.name"
          [ngClass]="{
            '!bg-gray-600': selectedItem === item.name,
            'text-white': selectedItem === item.name
          }"
          class="w-full h-fit flex justify-center text-gray-600 items-center shadow-md justify-center items-center cursor-pointer p-1 rounded-full transition-all hover:text-white hover:bg-gray-100"
        >
          <div
            class="text-gray-400 text-lg rounded-full p-1 flex items-center justify-center"
          >
            <i
              [ngClass]="{ 'ease-custom': selectedItem === item.name }"
              class="ease-custom  fa fa-location-dot flex justify-center items-end"
            ></i>
          </div>
          <div class="text-[11px] px-1 text-nowrap">
            <span class=""> {{ item.title }}</span>
          </div>
        </div>
      </swiper-slide>
      }
    </swiper-container>
  </div>
</div>
