<div class="w-full h-fit p-1 px-[3vw] shadow-md z-20 sm:px-[4vw] md:px-[6vw] my-bg  lg:px-[7vw]">
  <div class="w-full h-fit">
    <swiper-container
      class="border-t border-t-2 border-b-slate-200 border-t-slate-200 border-b border-b-2 pt-2 bg-transparent to-gray-200 text-gray-500 !text-sm font-normal"
      free-Mode="true"
      slides-per-view="auto"
    >
      @for (item of navs; track $index) {
      <swiper-slide
        class="w-fit h-fit pt-2 px-1 rounded relative flex justify-center object-cover"
      >
        <div
          (click)="navigateTo([item.name])"
          [ngClass]="{ '!text-happyGreen': route === item.name }"
          class="flex flex-col cursor-pointer text-gray-400 gap-[6px] text-xs px-2 justify-between items-center"
        >
          <span
            [ngClass]="{ 'ease-custom': route === item.name }"
            class="ease-custom flex flex-col pb-1 items-center flex gap-2"
          >
            <i class="fa text-xl  {{ item.icon }}"></i>
            <span class="text-xs">
              {{ item.title }}
            </span>
          </span>
          @if (route===item.name) {
          <span
            class="w-full h-[4px] rounded-t-[25px] rounded-b-none bg-happyGreen"
          ></span>
          }
        </div> </swiper-slide
      >}
    </swiper-container>
  </div>
</div>
