<div
  class="w-full h-fit flex py-1 flex-col transition-all duration-300 gap-1 at-container"
>
  <div class="w-full h-fit flex gap-2 at-item items-center">
    <div class="w-full max-w-36 relative">
      <img
        src="./img/test2.jpg"
        alt=""
        class="rounded-lg object-cover shadow-md flip-scale-up-hor"
      />
      <div
        (click)="isBookmarked = !isBookmarked"
        class="w-fit h-fit cursor-pointer drop-shadow-md px-1 z-20 text-white text-l absolute top-2 left-1"
      >
        @if (!isBookmarked) {
        <i class="fa-regular fa-bookmark"></i>
        } @else {
        <i class="fa-solid fa-bookmark"></i>
        }
      </div>
      <div
        class="w-fit h-fit p-[2px] cursor-pointer shadow-md px-[6px] z-20 bg-happyGreen text-white text-xs rounded-full absolute top-[6px] right-[6px]"
      >
        مشهد
      </div>
    </div>
    <div class="flex flex-col gap-1 justify-between">
      <h1 class="text-gray-500 text-xs ellipsis-text-two-lines">
        {{ "سخنرانی رئیس مجمع نمایندگان طلاب در جمع نخبگان حوزه" }}
      </h1>

      <div
        class="w-full flex flex-col text-[11px] justify-between gap-1 text-neutral-400"
      >
        <span>علمی فرهنگی</span>

        <div class="w-full flex items-center gap-3">
          <!-- seen count-->
          <div class="flex items-center gap-1">
            <i class="fa-regular fa-eye"></i>
            <span>23</span>
          </div>

          <!-- seen count-->
          <div class="flex items-center gap-1">
            <i class="fa-regular fa-clock"></i>
            <span>2دقیقه</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    (click)="showSummaryPragraph = !showSummaryPragraph"
    class="w-full h-fit flex text-gray-600 p-1 px-2 justify-between rounded-full items-center text-xs border border-gray-200"
  >
    <p class="">خلاصه</p>
    <span
      [ngClass]="{ 'rotate-180': showSummaryPragraph == true }"
      class="rounded-full transition-all duration-300 h-6 w-6 flex justify-center items-center rounded-full border-gray-500"
    >
      <i class="fa-solid fa-angle-down"></i>
    </span>
    <!-- summary -->
    <!-- <div
      (click)="showSummaryPragraph = !showSummaryPragraph"
      class="flex items-center cursor-pointer gap-1"
    >
      @if (!showSummaryPragraph) {
      <span>خلاصه</span>
      <i class="fa-solid fa-angle-down"></i>
      }@else {
      <span>بستن خلاصه</span>
      <i class="fa-solid fa-close"></i>
      }
    </div> -->
  </div>
  @if (showSummaryPragraph) {
  <h2
    [ngClass]="{
      'open-item': showSummaryPragraph,
      'close-item': !showSummaryPragraph
    }"
    class="w-full py-1 px-2 text-justify text-xs text-gray-400 ellipsis-text-five-lines"
  >
    صبح امروز در رئیس مجمع نمایندگان طلاب در جمع نخبگان و فرهیختگان علمی در
    حمایت از مردم مظلوم غزه سخن گفت
  </h2>
  }
</div>
