<div class="w-full h-full flex flex-col mb-40 gap-2">
    <h1 class="text-blue-600 pb-5">
      <!-- <i class="fa fa-circle text-xs text-blue-600"></i> -->
      ثبت خبر
    </h1>
    <form
      [formGroup]="newsForm"
      (submit)="save()"
      class="w-full h-full grid grid-cols-4 gap-3"
    >
      <mat-form-field class="col-span-1 lg:col-span-4">
        <mat-label>عنوان استوری</mat-label>
        <input
          class="w-full"
          appearance="outline"
          type="text"
          matInput
          formControlName="title"
          placeholder="عنوان استوری"
        />
      </mat-form-field>
      
      <mat-form-field class="col-span-1 lg:col-span-1">
        <mat-label>استان</mat-label>
        <mat-select
          class="w-full"
          appearance="outline"
          type="text"
          matInput
          (valueChange)="onSelectProvince($event)"
          formControlName="provinceId"
          placeholder="استان"
        >
          @for (item of provinces; track $index) {
          <mat-option [value]="item.id">{{ item.name }}</mat-option> }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-span-1 lg:col-span-1">
        <mat-label>شهرستان</mat-label>
        <mat-select
          class="w-full"
          appearance="outline"
          type="text"
          matInput
          formControlName="provinceId"
          placeholder="شهرستان"
        >
          @for (item of counties; track $index) {
          <mat-option [value]="item.id">{{ item.name }}</mat-option> }
        </mat-select>
      </mat-form-field>
     
     
       
       
      <button class="w-full">ذخیره</button>
    </form>
    <app-file-browser
      (rawFileSelect)="uploadFiles($event)"
      (fileSelect)="onFileSelected($event);"
      class="w-fit h-fit self-end"
      [fileType]="'All'"
    >
      <div
        class="cursor-pointer self-end transition-all text-slate-300 hover:bg-gray-100 flex justify-center items-center p-2 rounded-full"
        #fileOpen
      >
        <i class="fa fa-paperclip text-[23px]"></i>
      </div>
    </app-file-browser>
   
    <!-- <app-file-upload-preview ></app-file-upload-preview> -->
  
    @if (uploadedFiles) {
    <!-- <div class="w-full h-fit"> -->
    <app-message-media
      class="w-[350px] h-[350px]"
      [files]="uploadedFiles"
    ></app-message-media>
    <!-- </div> -->
    }
  </div>
  