<div class="w-full h-fit px-2">
  <div class="w-full h-fit">
    <swiper-container slides-per-view="auto">
      <!-- class="w-full lg:h-[30vw] h-[40vw] shadow-lg overflow-hidden rounded-xl max-w-[70vw] lg:max-w-[55vw]" -->
      <!-- [breakpoints]="{ 
            '600': { slidesPerView: 1.2 } ,
            '1000': { slidesPerView: 1.5 } ,
              }" -->
      <!-- 
        slide-shadows="true"
        scale="2"
         -->
      <!-- speed="100" -->
      <!-- centered-slides-bounds="true" -->
      <!-- initialSlide="3" -->

      <swiper-slide
        (click)="showStory()"
        class="w-24 py-3 px-[3px] h-fit flex justify-center items-center gap-1 flex-col"
      >
        <div
          class="w-[70px] h-[70px] flex justify-center items-center bg-gradient-to-br from-pink-400 via-indigo-300 to-green-300 rounded-full"
        >
          <img
            class="w-[60px] h-[60px] outline outline-[3px] outline-white rounded-full object-cover"
            src="./img/rahbar3.jpg"
            alt=""
          />
        </div>
        <span
          class="text-center text-[10px] text-slate-700 ellipsis-text-two-lines"
        >
          دیدار هیئت رئیسه امروز با مدیر حوزه های علمیه حضرت آیت الله</span
        >
      </swiper-slide>
      <swiper-slide
        class="w-24 py-3 px-[3px] h-fit flex justify-center items-center gap-1 flex-col"
      >
        <div
          class="w-[70px] h-[70px] flex justify-center items-center bg-gradient-to-br from-pink-400 via-indigo-300 to-green-300 rounded-full"
        >
          <img
            class="w-[60px] h-[60px] outline outline-[3px] outline-white rounded-full object-cover"
            src="./img/rahbar3.jpg"
            alt=""
          />
        </div>
        <span
          class="text-center text-[10px] text-slate-700 ellipsis-text-two-lines"
        >
          دیدار هیئت رئیسه امروز با مدیر حوزه های علمیه حضرت آیت الله</span
        >
      </swiper-slide>
      <swiper-slide
        class="w-24 py-3 px-[3px] h-fit flex justify-center items-center gap-1 flex-col"
      >
        <div
          class="w-[70px] h-[70px] flex justify-center items-center bg-gradient-to-br from-pink-400 via-indigo-300 to-green-300 rounded-full"
        >
          <img
            class="w-[60px] h-[60px] outline outline-[3px] outline-white rounded-full object-cover"
            src="./img/rahbar3.jpg"
            alt=""
          />
        </div>
        <span
          class="text-center text-[10px] text-slate-700 ellipsis-text-two-lines"
        >
          دیدار هیئت رئیسه امروز با مدیر حوزه های علمیه حضرت آیت الله</span
        >
      </swiper-slide>
      <swiper-slide
        class="w-24 py-3 px-[3px] h-fit flex justify-center items-center gap-1 flex-col"
      >
        <div
          class="w-[70px] h-[70px] flex justify-center items-center bg-gradient-to-br from-pink-400 via-indigo-300 to-green-300 rounded-full"
        >
          <img
            class="w-[60px] h-[60px] outline outline-[3px] outline-white rounded-full object-cover"
            src="./img/rahbar3.jpg"
            alt=""
          />
        </div>
        <span
          class="text-center text-[10px] text-slate-700 ellipsis-text-two-lines"
        >
          دیدار هیئت رئیسه امروز با مدیر حوزه های علمیه حضرت آیت الله</span
        >
      </swiper-slide>
      <swiper-slide
        class="w-24 py-3 px-[3px] h-fit flex justify-center items-center gap-1 flex-col"
      >
        <div
          class="w-[70px] h-[70px] flex justify-center items-center bg-gradient-to-br from-pink-400 via-indigo-300 to-green-300 rounded-full"
        >
          <img
            class="w-[60px] h-[60px] outline outline-[3px] outline-white rounded-full object-cover"
            src="./img/rahbar3.jpg"
            alt=""
          />
        </div>
        <span
          class="text-center text-[10px] text-slate-700 ellipsis-text-two-lines"
        >
          دیدار هیئت رئیسه امروز با مدیر حوزه های علمیه حضرت آیت الله</span
        >
      </swiper-slide>
      <swiper-slide
        class="w-24 py-3 px-[3px] h-fit flex justify-center items-center gap-1 flex-col"
      >
        <div
          class="w-[70px] h-[70px] flex justify-center items-center bg-gradient-to-br from-pink-400 via-indigo-300 to-green-300 rounded-full"
        >
          <img
            class="w-[60px] h-[60px] outline outline-[3px] outline-white rounded-full object-cover"
            src="./img/rahbar3.jpg"
            alt=""
          />
        </div>
        <span
          class="text-center text-[10px] text-slate-700 ellipsis-text-two-lines"
        >
          دیدار هیئت رئیسه امروز با مدیر حوزه های علمیه حضرت آیت الله</span
        >
      </swiper-slide>
    </swiper-container>
  </div>
</div>
