







<div class="w-full h-fit pb-11 flex   justify-center at-container">
  <div class="w-full max-w-[350px] at-item h-fit relative flex justify-center">
    <!-- [src]="item.img" -->
    <!-- (click)="goToNewsPage()" -->
    <!-- <img
    [src]="(item.img.length>0 && item.img!='string') ?item.img: '/test/news4.jpg'"
    class="w-full h-fit flip-scale-up-hor object-cover aspect-3/2 rounded-t-2xl shadow-md rounded-b-3xl"
      alt=""
    /> -->

    <div class="w-[210px] h-[320px] left-0 right-0 bottom-2 m-auto relative">
      <!-- <img src="./test/book.png" alt="" /> -->
      <!-- [src]="item!.img" -->
      <!-- <img
        class="w-[176px] h-[313px] rounded-xs shadow-xl absolute -skew-y-[13deg] top-7 right-1"
        [src]="item?.img"
        alt=""
      /> -->
      <img
      class="w-[200px] aspect-200/290 rounded-xs shadow-xl absolute  top-7 right-1"
      [src]="item?.img"
      alt=""
    />
    </div>

    <!-- news summary paragraph -->
    <!-- <div
        class="w-[90%] h-fit p-3 shadow-md z-30 bg-gray-100 rounded-2xl absolute -bottom-10 left-0 right-0 m-auto"
      >

      </div> -->
    <!-- news title box -->
    <div
      class="w-[90%] h-fit transition-all p-3 shadow-md z-20 bg-white  rounded-2xl absolute -bottom-10 left-0 right-0 m-auto"
    >
      <div
        class="w-full h-fit transition-all flex flex-col justify-between gap-1"
      >
      <div class="w-full h-fit py-1 flex gap-2 items-center">
        <img
          [src]="
            item!.img.length > 0 && item!.img != 'string'
              ? item!.img
              : '/test/news4.jpg'
          "
          class="w-5 h-5 object-cover shadow-md blur-[.5px] aspect-square rounded-full"
          alt=""
        />
        <h1 class="text-gray-800 text-sm ellipsis-text-two-lines">
          {{ item?.name }}
        </h1>
        <i class="text-gray-400 fa fa-circle text-[4px]"></i>
        <div class="flex items-center text-xs text-gray-500 gap-1">
          <span>{{ item?.volumeCount }} جلد</span>
        </div>
      </div>
      <!-- <h1 class="text-gray-800 text-sm ellipsis-text-three-lines">
        {{ item?.description }}
      </h1> -->
        @if (showSummaryPragraph) {
        <p
          [ngClass]="{ 'summary-news-item': showSummaryPragraph == true }"
          class="text-xs text-gray-400 ellipsis-text-five-lines"
        >
          {{ item!.description }}
        </p>
        }
        <div
          class="flex text-[11px] pt-2 justify-between items-center gap-2 text-gray-500"
        >
          <span class="text-red-600">{{ item!.subject }}</span>
          <!-- summary -->
          <div
            (click)="showSummaryPragraph = !showSummaryPragraph"
            class="flex items-center cursor-pointer gap-1"
          >
            @if (!showSummaryPragraph) {
            <span>خلاصه</span>
            <i class="fa-solid fa-angle-down"></i>
            }@else {
            <span>بستن خلاصه</span>
            <i class="fa-solid fa-close"></i>
            }
          </div>
          <div class="flex items-center  gap-2">
            <!-- seen count-->
            <!-- <div class="flex items-center gap-1">
              <span>{{ item.reviews }}</span>
              <i class="fa-regular fa-eye"></i>
            </div> -->

            <!-- seen count-->
            <div class="flex items-center gap-1">
              <span>{{ item?.language }}</span>
              <i class="fa fa-earth"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
