<!-- <div class="w-full h-fit flex justify-between items-center bg-stone-200">
    <p
    class="text-slate-600 text-[11px] pr-2 text-justify elipsis-text-two-lines"
    >
    امام خمینی (ره): بسیج لشکر مخلص خداست.
</p>
<div class="w-16 h-14">
    <img src="./img/rahbar2.jpg" alt="" />
</div> -->
<!-- </div>  -->
<app-nav-headers></app-nav-headers>
<app-meeting-navs></app-meeting-navs>
<app-header-banner-swiper></app-header-banner-swiper>
<div class="m-auto my-3 w-full h-[0.5px] bg-slate-300"></div>
<div class="w-full h-fit flex flex-col lg:flex-row gap-3 lg:gap-7 xl:gap-10 2xl:gap-12">
    <app-news-container class="w-full"></app-news-container>
  <!-- <app-news></app-news> -->
  <!-- left side news -->
  <!-- <div class="w-full max-w-[400px] h-fit flex flex-col gap-4">
    <app-iran-daily-news></app-iran-daily-news>
    <app-links></app-links>
  </div> -->
</div>
  